<?xml version="1.0"?>
<config>
    <modules>
        <TSV_RequestPrice>
            <version>1.0.0</version>
        </TSV_RequestPrice>
    </modules>
    <global>
        <resources>
            <tsv_requestprice_setup>
                <setup>
                    <module>TSV_RequestPrice</module>
                    <class>TSV_RequestPrice_Model_Resource_Setup</class>
                </setup>
            </tsv_requestprice_setup>
        </resources>
        <blocks>
            <tsv_requestprice>
                <class>TSV_RequestPrice_Block</class>
            </tsv_requestprice>
        </blocks>
        <helpers>
            <tsv_requestprice>
                <class>TSV_RequestPrice_Helper</class>
            </tsv_requestprice>
        </helpers>
        <models>
            <tsv_requestprice>
                <class>TSV_RequestPrice_Model</class>
                <resourceModel>tsv_requestprice_resource</resourceModel>
            </tsv_requestprice>
            <tsv_requestprice_resource>
                <class>TSV_RequestPrice_Model_Resource</class>
                <entities>
                    <pricerequest>
                        <table>tsv_requestprice_pricerequest</table>
                    </pricerequest>
                    <pricerequest_store>
                        <table>tsv_requestprice_pricerequest_store</table>
                    </pricerequest_store>
                </entities>
            </tsv_requestprice_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <tsv_requestprice>
                <use>standard</use>
                <args>
                    <module>TSV_RequestPrice</module>
                    <frontName>requestprice</frontName>
                </args>
            </tsv_requestprice>
        </routers>
        <layout>
            <updates>
                <tsv_requestprice>
                    <file>tsv/requestprice.xml</file>
                </tsv_requestprice>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <tsv_requestprice>
                    <file>tsv/requestprice.xml</file>
                </tsv_requestprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <TSV_RequestPrice>
                    <files>
                        <default>TSV_RequestPrice.csv</default>
                    </files>
                </TSV_RequestPrice>
            </modules>
        </translate>
        <global_search>
            <pricerequest>
                <class>tsv_requestprice/adminhtml_search_pricerequest</class>
                <acl>tsv_requestprice</acl>
            </pricerequest>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TSV_RequestPrice before="Mage_Adminhtml">TSV_RequestPrice_Adminhtml</TSV_RequestPrice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
