<?xml version="1.0"?>
<config>
    <modules>
        <TSG_CallCenter>
            <version>0.0.6</version>
        </TSG_CallCenter>
    </modules>
    <global>
        <models>
            <callcenter>
                <class>TSG_CallCenter_Model</class>
                <resourceModel>callcenter_resource</resourceModel>
            </callcenter>
            <callcenter_resource>
                <class>TSG_CallCenter_Model_Resource</class>
                <entities>
                    <queue>
                        <table>tsg_callcenter_queue</table>
                    </queue>
                </entities>
            </callcenter_resource>
        </models>
        <resources>
            <callcenter_setup>
                <setup>
                    <module>TSG_CallCenter</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </callcenter_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_filter_text>TSG_CallCenter_Block_Adminhtml_Widget_Grid_Column_Filter_Text</widget_grid_column_filter_text>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <callcenter>
                <class>TSG_CallCenter_Helper</class>
            </callcenter>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TSG_CallCenter before="Mage_Adminhtml">TSG_CallCenter_Adminhtml</TSG_CallCenter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <extendedgrid>
                    <file>tsg/callcenter/extendedgrid.xml</file>
                </extendedgrid>
            </updates>
        </layout>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <extendedgrid>
                        <model>TSG_CallCenter_Model_Observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </extendedgrid>
                </observers>
            </sales_order_grid_collection_load_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_buttons>
                        <type>singleton</type>
                        <class>TSG_CallCenter_Model_Observer</class>
                        <method>addNewButtons</method>
                    </add_buttons>
                </observers>
            </adminhtml_widget_container_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <add_mass_action>
                        <type>singleton</type>
                        <class>TSG_CallCenter_Model_Observer</class>
                        <method>addMassAction</method>
                    </add_mass_action>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <controller_action_postdispatch_adminhtml_sales_order_view>
                <observers>
                    <add_mass_action>
                        <type>singleton</type>
                        <class>TSG_CallCenter_Model_Observer</class>
                        <method>saveInitiatorToOrder</method>
                    </add_mass_action>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_view>
            <adminhtml_block_html_before>
                <observers>
                    <add_mass_action>
                        <type>singleton</type>
                        <class>TSG_CallCenter_Model_Observer</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </add_mass_action>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <queue_distribution>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>callcenter/observer::queueDistribution</model>
                </run>
            </queue_distribution>
        </jobs>
    </crontab>
</config>
